
:root body h1,h2,h3,h4,h5,h6,a,button {
    font-family: 'Vollkorn', sans-serif !important;
}

:root body p {
    font-family: 'Inter', sans-serif !important;
}

:root {
      --col1: #daeaf6;
      --col2: #ddedde; 
      --col2-dark: #c8efca;
      --col3: #fcf4dd;
      --col4:#fce1e4;
      --col5:#e8dff5;
      --col6: #316c98;
      --col7: #193f5b;
}

body {
    margin-bottom: 0 !important;
}

p {
    opacity: 0.9;
}

.bg-mycol1 {
    background-color: var(--col1) !important;
}
  
.bg-mycol2 {
    background-color: var(--col2) !important;
}
  
.bg-mycol3 {
    background-color: var(--col3) !important;
}

.bg-mycol4 {
    background-color: var(--col4) !important;
}

.bg-mycol5 {
    background-color: var(--col5) !important;
}

.bg-mycol6 {
    background-color: var(--col6) !important;
}

.mycol1 {
    color: var(--col1) !important;
}
  
.mycol2 {
    color: var(--col2) !important;
}
  
.mycol3 {
    color: var(--col3) !important;
}

.mycol4 {
    color: var(--col4) !important;
} 

.mycol5 {
    color: var(--col5) !important;
}
  
.mycol5 {
    color: var(--col6) !important;
}

:root h1, h2, h3, h4, h5, h6 {
    color: var(--col6) !important;
}
  
.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landing a.btn.my-btn {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

@media (min-width:576px){
    #landing a.btn.my-btn {
        padding-left: 2.25rem !important;
        padding-right: 2.25rem !important;
    }
}

/*
header .btn.my-btn {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
*/

.btn.my-btn {
    border-radius: 6rem !important;
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
    background-color: var(--col6) !important;
    color: white !important;
    transition: 0.3s !important;
}

.btn.my-btn:hover {
    background-color: var(--col7) !important;
    transform: scale(1.05) !important;
    color: white !important;
}
.faq {
    border: solid 2px var(--col2-dark);
    border-radius: 1.5rem;;
}
.faq button {
    background-color: var(--col2);;
    cursor: pointer;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Inter', sans-serif !important;
}


.faq-button:after {
    content: '+';
    /* Unicode character for "plus" sign */
    font-size: 1.25rem;
    color: #2c2f2c;
    float: right;
    margin-left: 0.75rem;
  }
  
  .faq-button.active:after {
    content: "-";
    /* Unicode character for "minus" sign*/
    font-size: 1.25rem;
    color: #2c2f2c;
    float: right;
    margin-left: 0.75rem;
  }

.faq > .faq-child:first-child button{
    border-radius: 1.5rem 1.5rem 0 0;
}

.faq > .faq-child:last-child button {
    border-radius: 0 0 1.5rem 1.5rem;
}

.faq > .faq-child:last-child button.active {
    border-radius: 0 0 0 0 !important;
}

.faq > .faq-child:last-child .faq-content {
    border-radius: 0 0 1.5rem 1.5rem;
}

.active, .faq-button:hover {
    background-color: var(--col2-dark);
}
  
.faq-content {
    padding: 0 1.5rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
  }

.active+div.faq-content{
    padding-top:0.5rem;
}

a.fs-my-big {
    font-size: calc(1rem + 0.5vw);
}

#masthead {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.5rem 0;
}

#logo {
    padding-left: 1.5rem;
}
  
@media (min-width: 36em) {
    #logo {
      display: inherit;
      padding-left: 1.5rem;
      width:10rem;
      margin-right: auto;
    }
}

.custom-logo {
    width: 4rem;
}

@media (max-width: 575.8px) {
    .btn-book {
        /* position: absolute; */
        margin-left: auto;
        margin-right:auto;
    }
}

@media (min-width: 576px) {
    .btn-book {
        height: 4rem;
        width: 10rem;
        margin-left: auto;
        padding-right:1.5rem;
    }
}

.btn-book a {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.hamburger {
    padding: 0 1.5rem 0 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
  
.hamburger:hover {
    opacity: 0.7;
}
  
.hamburger.is-active:hover {
    opacity: 0.7;
}
  
.hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: var(--col6);
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
  
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--col6);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
  
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
  
.hamburger-inner::before {
    top: -10px;
}
  
.hamburger-inner::after {
    bottom: -10px;
}
  
.hamburger--vortex .hamburger-inner {
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
  
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
}
  
.hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity;
}
  
.hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform;
}
  
.hamburger--vortex.is-active .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
  
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s;
}
  
.hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}
  
.hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
}

ul.nav-menu a {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: 0.8px;
    color: var(--col6);
    padding-left:1rem;
    padding-right: 1rem;
    transition: 0.25s;
}

ul.nav-menu a:hover {
    opacity:0.6;
}

li.current_page_item a {
    position: relative;
}

li.current_page_item a::after {
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    right: 0;
    content: '';
    width: 1.8rem;
    height: 2px;
    background: var(--col6);
    margin: 0 auto;
}

@media (max-width: 575.8px) {
    .padding-landing {
        padding-top: 5rem !important;
        padding-bottom: 2rem !important;
    }
}

@media (min-width: 576px) {
    .padding-landing {
       height: 100vh;
    }
}

.w-sm-auto {
    width:100%;
}

@media (min-width:576px) {
    .w-sm-auto {
        width: auto;
    }
}

@media (max-width:575.8px) {
    ul.nav-menu li {
        padding-bottom:1rem;
    }

    ul.nav-menu li:nth-child(1) {
        padding-top:1rem;
    }
}

.bg-size-cover {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.rounded-big {
    border-radius:3rem;
}

#contatti > div:first-child {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media (max-width:991.8px){
    .pb-100 {
        padding-bottom: 25%;
    }
}

@media (max-width:699.7px){
    .pb-100 {
        padding-bottom: 40%;
    }
}

ol.ol-left {
    list-style: none !important;
    counter-reset: cnt;
    padding-left:3.5rem !important;
    margin-left: 0 !important;
}

ol.ol-right {
    list-style: none !important;
    counter-reset: cnt;
    padding-right:3.5rem !important;
    margin: 0 !important;
}

ol li {
    counter-increment: cnt;
    position:relative;
}

ol.ol-left li::before { 
    content: counter(cnt); 
    font-weight: 700;
    opacity: 0.75;
    background-color: var(--col3);
    border-radius: 50%;    
    position: absolute;
    --size: 2rem;
    left: calc(-1 * var(--size) - 0.625rem);
    width: var(--size);
    height: var(--size);
    top: calc(50% - 0.5*var(--size));
    text-align: center;
    line-height: var(--size);
} 

ol.ol-right li::before { 
    content: "\2713"; 
    font-weight: bolder;
    color: var(--col6);
    background-color: var(--col3);
    border-radius: 50%;    
    position: absolute;
    --size: 2rem;
    right: calc(-1 * var(--size) - 0.625rem);
    width: var(--size);
    height: var(--size);
    top: calc(50% - 0.5*var(--size));
    text-align: center;
    line-height: var(--size);
} 

@media (max-width: 575.8px) {

    .bg-left .ol-bg {
        position: absolute;
        height: 120%;
        top: -10%;
        width: 100%;
        left:0;
    }

    .bg-right .ol-bg {
        position: absolute;
        height: 120%;
        top: -10%;
        width: 100%;
        left:0;
    }
}

@media (min-width: 576px) {

    .bg-left .ol-bg {
        position: absolute;
        height: 120%;
        top: -10%;
        width: 108%;
        left:-4%;
    }

    .bg-right .ol-bg {
        position: absolute;
        height: 120%;
        top: -10%;
        width: 108%;
        left:-4%;
    }

}

@media (min-width: 992px) {
    div.mx-big.bg-left {
        margin-right:3rem !important;
        margin-left:7rem !important;
    }

    div.mx-big.bg-right {
        margin-right:7rem !important;
        margin-left:3rem !important;
    }

    .bg-left div.ol-bg {
        position: absolute !important;
        height: 120% !important;
        top: -10% !important;
        width: 215% !important;
        left:-20% !important;
    }

    .bg-right div.ol-bg {
        position: absolute !important;
        height: 120% !important;
        top: -10% !important;
        width: 230% !important;
        transform: translate(-50%,0%) !important;
    }
}


@media (min-width: 1400px) {
   
    .bg-left div.ol-bg {
        position: absolute !important;
        height: 160% !important;
        top: -30% !important;
        width: 215% !important;
        left:-20% !important;
    }

    .bg-right div.ol-bg {
        position: absolute !important;
        height: 160% !important;
        top: -30% !important;
        width: 230% !important;
        transform: translate(-50%,0%) !important;
    }
}

div.opacity-09 p{
    opacity:0.9;
}

@media (min-width:1024px){
    div.my-big {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }

    div.mx-big {
        margin-right: 10rem !important;
        margin-left: 10rem !important;
    }

    div.mx-medium {
        margin-right: 6rem !important;
        margin-left: 6rem !important;
    }
}

.img-contatti-1 {
    bottom:3%;
    width: 30%;
    transform: translate(-30%,0);
}

.img-contatti-2 {
    top:-5%;
    width: 35%;
    right:0;
    transform: translate(5%,0); 
}

@media(min-width:400px){

    .img-contatti-1 {
        bottom:3%;
        width: 30%;
        transform: translate(-20%,0);
    }
    
    .img-contatti-2 {
        top:-6%;
        width: 30%;
        right:0;
        transform: translate(4%,0); 
    }
}


@media(min-width:500px){

    .img-contatti-1 {
        bottom:3%;
        width: 30%;
        transform: translate(-20%,0);
    }
    
    .img-contatti-2 {
        top:-10%;
        width: 30%;
        right:0;
        transform: translate(4%,0); 
    }
}

@media(min-width:600px){

    .img-contatti-1 {
        bottom:0%;
        width: 30%;
        transform: translate(-15%,0);
    }
    
    .img-contatti-2 {
        top:-10%;
        width: 30%;
        right:0;
        transform: translate(0,0); 
    }
}

@media(min-width:700px){

    .img-contatti-1 {
        bottom:-2%;
        width: 30%;
        transform: translate(-15%,0);
    }
    
    .img-contatti-2 {
        top:-13%;
        width: 30%;
        right:0;
        transform: translate(0,0); 
    }
}

@media(min-width:768px){
    .img-contatti-1 {
        bottom:-3%;
        width: 28%;
        transform: translate(-15%,0);
    }
    
    .img-contatti-2 {
        top:-15%;
        width: 30%;
        right:0;
        transform: translate(0,0); 
    }
    
}

@media(min-width:850px){
    .img-contatti-1 {
        bottom:-5%;
        width: 25%;
        transform: translate(-10%,0);
    }
    
    .img-contatti-2 {
        top:-13%;
        width: 25%;
        right:0;
        transform: translate(2%,0); 
    }
    
}

@media(min-width:992px){
    .img-contatti-1 {
        bottom:-7%;
        width: 25%;
        transform: translate(-10%,0);
    }
    
    .img-contatti-2 {
        top:-15%;
        width: 25%;
        right:0;
        transform: translate(2%,0); 
    }
    
}

@media(min-width:1024px){
    .img-contatti-1 {
        bottom:2%;
        width: 20%;
        transform: translate(-50%,0);
    }
    
    .img-contatti-2 {
        top:-7%;
        width: 20%;
        right:0;
        transform: translate(40%,0); 
    }
    
}


/* *************
FORM CONTATTI
************* */

.wpforms-submit-container {
    padding-top: 2rem !important;
}

.wpforms-field-container legend, .wpforms-field-container label {
    letter-spacing: 2px !important;
    font-family: 'Vollkorn', sans-serif !important;
}

div.my-fs-p p {
    font-size:1.1rem;
}

@media (min-width:576px) {
    div.my-fs-p p {
        font-size:1.25rem;
    }
}

.footer-logo {
    pointer-events: none;
}

.img-decorative-footer img {
    width: 70%;
}

@media (min-width:576px) {
    .img-decorative-footer img {
        width: 60%;
    }
}

@media (min-width:768px) {
    .img-decorative-footer img {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .img-decorative-footer img {
        width: 75%;
    }
}

/* ***********************
USER REGISTRATION PLUGIN
*********************** */

.logo-registration a{
    cursor: none;
    pointer-events: none; 
}

.logo-registration img{
    width: 40%;
    transform: translateX(-5%);
}

#user-registration {
    font-family: 'Inter', sans-serif !important;
    box-shadow: none !important;
}

#user-registration a, #user-registration p{
    color: var(--bs-body-color) !important;
    font-family: 'Inter', sans-serif !important;
    text-decoration: none;
}

#user-registration a{
    opacity: 0.75 !important;
}

#user-registration li.is-active a{
    border-radius: 2rem;
    background-color: var(--col3) !important;
}

#user-registration a:hover{
    opacity: 1 !important;
}

#user-registration p{
    opacity: 0.9 !important;
}

#user-registration nav {
    border-bottom: none !important;
}

#user-registration-form-947 {
    margin:0 10rem;
    border:none;
}

.ur-button-container {
    justify-content: center !important;
}

.ur-button-container button {
    margin: auto !important;
}

#ur-frontend-form {
    border: none !important;
}

#user-registration {
    background-color: var(--col2) !important;
}